.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color: #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.button{
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.loginText{
    color: #555;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

