.container{
    margin-top: 100x;
    display: flex;
    gap: 100px;
    padding: 0;
    position: relative;
}

.posts{
    flex: 1;
}


.form{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}



.post{
    display: flex;
    margin: 50px 0;
    position: relative;
    flex-direction: column;
}

.postTitle{
    font-size: 30px;
    font-weight: bold;
}

.postDesc{
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}

.imgContainer{
    min-width: 250px;
    min-height: 250px;
    height: 400px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
}

.img{
    object-fit: cover;
}

.delete{
    cursor: pointer;
    color: #fff;
    background-color: #53c28b;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    right: 0;
}

.input, .textArea{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .imgContainer{
        height: 250px;
    }
}